.page {
    font-family: Courier, MyriadPro-Regular, monospace;
    width: 1180px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 100px 30px 0;
}

.logo {
    font-size: 80px;
    margin: 55px 0;
}

.blue {
    color: #4bcaff;
}

.top-nav {
    text-align: center;
    background-color: #35444f;
    height: 70px;
    margin: 55px 0;
}

.top-nav-link:link {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    font-size: 24px;
    line-height: 70px;
    color: #fff;
    padding: 0 20px;
}

.top-nav-link:visited {
    color: #fff;
}

.top-nav-link:hover {
    background-color: #222f3a;
}

.left-nav {
    float: left;
    height: 400px;
    width: 345px;
    border: 1px solid #35444f;
}

.left-nav-link:link {
    float: left;
    font-size: 20px;
    line-height: 80px;
    vertical-align: middle;
    text-decoration: none;
    color: #485863;
    width: calc(100% - 40px);
    height: 20%;
    padding-left: 40px;
}

.left-nav-link:visited {
    color: #aab1b6;
}

.left-nav-link:hover {
    color: #000;
    padding-left: 70px;
    width: 275px;
    background-color: #dbdbdb;
}

.container-image {
    float: right;
    line-height: 530px;
    text-align: center;
    width: 785px;
    height: 530px;
    border: 1px solid #35444f;
}

.main-image {
    vertical-align: middle;
}

.clearfix {
    clear: both;
}

.text-container {
    float: right;
    width: 785px;
}

.text {
    margin: 50px 0;
}


.bottom-nav {
    font-size: 20px;
    line-height: 70px;
    height: 70px;
    padding: 0 45px 0 25px;
    margin-bottom: 30px;
    background-color: #b4b7ba;
}

.bottom-nav-link:link {
    display: inline-block;
    vertical-aling: middle;
    text-decoration: none;
    color: #0c1927;
    padding: 0 16px;
}

.bottom-nav-link:visited {
    color: #0c1927;
}

.bottom-nav-link:hover {
    text-decoration: underline;
    color: #3181a6;
}

.copyright {
    float: right;
    vertical-align: middle;
    margin: 0;
}

